<div class="container-fluid px-0 h-100">

    <app-toast aria-live="polite" aria-atomic="true"></app-toast>

    <div class="papelFundo">
        <div style="background-color: white; width: 90%; height: auto; margin-top: 2px; border-radius: 10px;">
            <section class="nps-section-list-questionarios">

                <div class="nps-header px-4">
                    <h1 class="nps-header-title">[ADMIN] Área de Trabalho<span class="nps-header-title-dot">.</span>
                    </h1>
                    <p class="nps-header-subtitle">Aqui, como administrador, você tem acesso a todas os detalhes de
                        pedidos
                        disponíveis.</p>
                </div>

                <div class="card nps-card p-4 mx-3">
                    <nav ngbNav #nav="ngbNav" class="nav-tabs mt-0">

                        <!--pedidos pendentes-->
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="navLink">Pedidos pendentes</a>
                            <ng-template ngbNavContent>

                                <div class="mb-2 row">
                                    <div class="nps-header col-xs-3 mb-2 col-sm-auto">
                                        <p class="nps-header-subtitle">Aqui você pode ver todos os <span
                                                class="fw-bold">pedidos pendentes</span> atualmente.
                                        </p>
                                    </div>

                                    <div class="col-xs-2 col-sm-auto d-flex ms-auto">
                                        <button type="button" class="btn btn-success"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableAlimento(adidicionarAlimento)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novos alimentos
                                        </button>
                                        <button type="button" class="btn btn-success ms-2"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableBebida(adidicionarBebida)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novas bebidas
                                        </button>
                                    </div>
                                </div>

                                <div class="table-responsive text-center">
                                    <table class="table table-striped nps-table align-middle"
                                        *ngIf="listPedidosPendentes?.length != 0; else emptyList">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="nps-table-th">#</th>
                                                <th scope="col" class="nps-table-th">carrinho ID</th>
                                                <th scope="col" class="nps-table-th">Nome do usuário</th>
                                                <th scope="col" class="nps-table-th">Tipo de pagamento</th>
                                                <th scope="col" class="nps-table-th">Status do pedido</th>
                                                <th scope="col" class="nps-table-th">Ações</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let pedido of listPedidosPendentes; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td class="nps-table-td">
                                                    {{pedido.carrinhoId}}
                                                </td>
                                                <td class="nps-table-td"> {{pedido.nomeUsuario}}
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.opcaoPagamento">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Cartão de crédito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Cartão de débito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pagamento na hora"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.statusPedido">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Pedido pendente"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td">
                                                    <button type="button" class="btn btn-primary m-1"
                                                        ngbTooltip="Visualizar pedido"
                                                        (click)="openScrollableContent(longContent, pedido.carrinhoId!)">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-success m-1"
                                                        ngbTooltip="Aprovar pedido"
                                                        (click)="aceitarPedido(pedido.carrinhoId!)">
                                                        <i class="bi bi-check"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger m-1"
                                                        ngbTooltip="Reprovar pedido"
                                                        (click)="recusarPedido(pedido.carrinhoId!)">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <ng-template #emptyList>Nenhum pedido encontrado - Lista vazia</ng-template>
                            </ng-template>
                        </ng-container>

                        <!--Pedidos aprovados-->
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="navLink" (click)="getCarrinhoPedidoAprovados()">Pedidos aprovados</a>
                            <ng-template ngbNavContent>

                                <div class="mb-2 row">
                                    <div class="nps-header col-xs-3 mb-2 col-sm-auto">
                                        <p class="nps-header-subtitle">Aqui você pode ver todos os <span
                                                class="fw-bold">pedidos aprovados</span> atualmente.
                                        </p>
                                    </div>

                                    <div class="col-xs-2 col-sm-auto d-flex ms-auto">
                                        <button type="button" class="btn btn-success"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableAlimento(adidicionarAlimento)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novos alimentos
                                        </button>
                                        <button type="button" class="btn btn-success ms-2"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableBebida(adidicionarBebida)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novas bebidas
                                        </button>
                                    </div>
                                </div>

                                <div class="table-responsive text-center">
                                    <table class="table table-striped nps-table align-middle"
                                        *ngIf="listPedidosAprovados?.length != 0; else emptyList">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="nps-table-th">#</th>
                                                <th scope="col" class="nps-table-th">carrinho ID</th>
                                                <th scope="col" class="nps-table-th">Nome do usuário</th>
                                                <th scope="col" class="nps-table-th">Tipo de pagamento</th>
                                                <th scope="col" class="nps-table-th">Status do pedido</th>
                                                <th scope="col" class="nps-table-th">Ações</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let pedido of listPedidosAprovados; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td class="nps-table-td">
                                                    {{pedido.carrinhoId}}
                                                </td>
                                                <td class="nps-table-td"> {{pedido.nomeUsuario}}
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.opcaoPagamento">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Cartão de crédito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Cartão de débito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pagamento na hora"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.statusPedido">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Pedido pendente"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Pedido aprovado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td">
                                                    <button type="button" class="btn btn-primary m-1"
                                                        ngbTooltip="Visualizar pedido"
                                                        (click)="openScrollableContent(longContent, pedido.carrinhoId!)">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-success m-1"
                                                        ngbTooltip="Concluir pedido - Pedido pronto"
                                                        (click)="fecharPedido(pedido.carrinhoId!)">
                                                        <i class="bi bi-cart-check"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger m-1"
                                                        ngbTooltip="Cancelar pedido"
                                                        (click)="cancelarPedido(pedido.carrinhoId!)">
                                                        <i class="bi bi-x-circle"></i>
                                                    </button>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <ng-template #emptyList>Nenhum usuário encontrado - Lista vazia</ng-template>

                            </ng-template>
                        </ng-container>

                        <!-- Pedidos recusados -->
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="navLink" (click)="getCarrinhoPedidoRecusados()">Pedidos recusados</a>
                            <ng-template ngbNavContent>

                                <div class="mb-2 row">
                                    <div class="nps-header col-xs-3 mb-2 col-sm-auto">
                                        <p class="nps-header-subtitle">Aqui você pode ver todos os <span
                                                class="fw-bold">pedidos recusados</span> atualmente.
                                        </p>
                                    </div>

                                    <div class="col-xs-2 col-sm-auto d-flex ms-auto">
                                        <button type="button" class="btn btn-success"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableAlimento(adidicionarAlimento)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novos alimentos
                                        </button>
                                        <button type="button" class="btn btn-success ms-2"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableBebida(adidicionarBebida)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novas bebidas
                                        </button>
                                    </div>
                                </div>

                                <div class="table-responsive text-center">
                                    <table class="table table-striped nps-table align-middle"
                                        *ngIf="listPedidosRecusados?.length != 0; else emptyList">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="nps-table-th">#</th>
                                                <th scope="col" class="nps-table-th">carrinho ID</th>
                                                <th scope="col" class="nps-table-th">Nome do usuário</th>
                                                <th scope="col" class="nps-table-th">Tipo de pagamento</th>
                                                <th scope="col" class="nps-table-th">Status do pedido</th>
                                                <th scope="col" class="nps-table-th">Ações</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let pedido of listPedidosRecusados; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td class="nps-table-td">
                                                    {{pedido.carrinhoId}}
                                                </td>
                                                <td class="nps-table-td"> {{pedido.nomeUsuario}}
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.opcaoPagamento">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Cartão de crédito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Cartão de débito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pagamento na hora"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.statusPedido">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Pedido pendente"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Pedido aprovado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pedido recusado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td">
                                                    <button type="button" class="btn btn-primary m-1"
                                                        ngbTooltip="Visualizar pedido"
                                                        (click)="openScrollableContent(longContent, pedido.carrinhoId!)">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger m-1"
                                                        ngbTooltip="Fechar carrinho"
                                                        (click)="fecharPedido(pedido.carrinhoId!)">
                                                        <i class="bi bi-cart-x"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <ng-template #emptyList>Nenhum usuário encontrado - Lista vazia</ng-template>

                            </ng-template>
                        </ng-container>

                        <!-- Pedidos Cancelados -->
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="navLink" (click)="getCarrinhoPedidoCancelados()">Pedidos cancelados</a>
                            <ng-template ngbNavContent>

                                <div class="mb-2 row">
                                    <div class="nps-header col-xs-3 mb-2 col-sm-auto">
                                        <p class="nps-header-subtitle">Aqui você pode ver todos os <span
                                                class="fw-bold">pedidos cancelados</span> atualmente.
                                        </p>
                                    </div>

                                    <div class="col-xs-2 col-sm-auto d-flex ms-auto">
                                        <button type="button" class="btn btn-success"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableAlimento(adidicionarAlimento)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novos alimentos
                                        </button>
                                        <button type="button" class="btn btn-success ms-2"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableBebida(adidicionarBebida)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novas bebidas
                                        </button>
                                    </div>
                                </div>

                                <div class="table-responsive text-center">
                                    <table class="table table-striped nps-table align-middle"
                                        *ngIf="listPedidosCancelados?.length != 0; else emptyList">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="nps-table-th">#</th>
                                                <th scope="col" class="nps-table-th">carrinho ID</th>
                                                <th scope="col" class="nps-table-th">Nome do usuário</th>
                                                <th scope="col" class="nps-table-th">Tipo de pagamento</th>
                                                <th scope="col" class="nps-table-th">Status do pedido</th>
                                                <th scope="col" class="nps-table-th">Ações</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let pedido of listPedidosCancelados; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td class="nps-table-td">
                                                    {{pedido.carrinhoId}}
                                                </td>
                                                <td class="nps-table-td"> {{pedido.nomeUsuario}}
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.opcaoPagamento">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Cartão de crédito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Cartão de débito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pagamento na hora"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.statusPedido">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Pedido pendente"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Pedido aprovado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pedido recusado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="3">
                                                        <ngb-highlight result="Pedido entregue"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="4">
                                                        <ngb-highlight result="Pedido cancelado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td">
                                                    <button type="button" class="btn btn-primary m-1"
                                                        ngbTooltip="Visualizar pedido"
                                                        (click)="openScrollableContent(longContent, pedido.carrinhoId!)">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <ng-template #emptyList>Nenhum usuário encontrado - Lista vazia</ng-template>

                            </ng-template>
                        </ng-container>

                        <!-- Pedidos Entregues -->
                        <ng-container ngbNavItem>
                            <a ngbNavLink class="navLink" (click)="getCarrinhoPedidoEntregues()">Pedidos entregues</a>
                            <ng-template ngbNavContent>

                                <div class="mb-2 row">
                                    <div class="nps-header col-xs-3 mb-2 col-sm-auto">
                                        <p class="nps-header-subtitle">Aqui você pode ver todos os <span
                                                class="fw-bold">pedidos entregues</span> atualmente.
                                        </p>
                                    </div>

                                    <div class="col-xs-2 col-sm-auto d-flex ms-auto">
                                        <button type="button" class="btn btn-success"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableAlimento(adidicionarAlimento)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novos alimentos
                                        </button>
                                        <button type="button" class="btn btn-success ms-2"
                                            ngbTooltip="Adicionar clientes na área" [openDelay]="500" [closeDelay]="250"
                                            (click)="openScrollableBebida(adidicionarBebida)">
                                            <i class="bi bi-person-fill-add"></i>
                                            Adicionar novas bebidas
                                        </button>
                                    </div>
                                </div>

                                <div class="table-responsive text-center">
                                    <table class="table table-striped nps-table align-middle"
                                        *ngIf="listPedidosEntregues?.length != 0; else emptyList">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="nps-table-th">#</th>
                                                <th scope="col" class="nps-table-th">carrinho ID</th>
                                                <th scope="col" class="nps-table-th">Nome do usuário</th>
                                                <th scope="col" class="nps-table-th">Tipo de pagamento</th>
                                                <th scope="col" class="nps-table-th">Status do pedido</th>
                                                <th scope="col" class="nps-table-th">Ações</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let pedido of listPedidosEntregues; let i = index">
                                                <th scope="row">{{i + 1}}</th>
                                                <td class="nps-table-td">
                                                    {{pedido.carrinhoId}}
                                                </td>
                                                <td class="nps-table-td"> {{pedido.nomeUsuario}}
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.opcaoPagamento">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Cartão de crédito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Cartão de débito"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pagamento na hora"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td" [ngSwitch]="pedido.statusPedido">
                                                    <ng-container *ngSwitchCase="0">
                                                        <ngb-highlight result="Pedido pendente"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="1">
                                                        <ngb-highlight result="Pedido aprovado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="2">
                                                        <ngb-highlight result="Pedido recusado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="3">
                                                        <ngb-highlight result="Pedido entregue"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="4">
                                                        <ngb-highlight result="Pedido cancelado"></ngb-highlight>
                                                    </ng-container>
                                                    <ng-container *ngSwitchDefault>
                                                        <ngb-highlight class="text-italic"
                                                            result="Nenhum dado registrado"></ngb-highlight>
                                                    </ng-container>
                                                </td>
                                                <td class="nps-table-td">
                                                    <button type="button" class="btn btn-primary m-1"
                                                        ngbTooltip="Visualizar pedido"
                                                        (click)="openScrollableContent(longContent, pedido.carrinhoId!)">
                                                        <i class="bi bi-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <ng-template #emptyList>Nenhum usuário encontrado - Lista vazia</ng-template>

                            </ng-template>
                        </ng-container>

                        <!-- Modal visualizar-->
                        <ng-template #longContent let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Dados do pedido</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                </button>
                            </div>
                            <div class="modal-body ">
                                <p style="color: #000; font-size: 1.5em; font-weight: bold;" class="text-center"> Dados
                                    do pedido
                                    selecionado: </p>

                                <div class="container" *ngIf="pedidoCurrent">
                                    <form>
                                        <div class="form-group">
                                            <label for="carrinhoID">Carrinho ID</label>
                                            <input type="text" class="form-control" id="carrinhoID"
                                                [(ngModel)]="pedidoCurrent.carrinhoId" name="carrinhoID" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="dataPedidoEntregue">Data do Pedido Entregue</label>
                                            <input *ngIf="pedidoCurrent.dataPedido != null" type="text"
                                                class="form-control" id="dataPedidoEntregue"
                                                [value]="transformarData(pedidoCurrent.dataPedido)"
                                                name="dataPedidoEntregue" readonly>
                                            <input *ngIf="pedidoCurrent.dataPedido === null" type="text"
                                                class="form-control" id="dataPedidoEntregue" value="Data não atribuida"
                                                name="dataPedidoEntregue" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="tipoPagamento">Tipo de Pagamento</label>
                                            <input type="text" class="form-control"
                                                *ngIf="pedidoCurrent.opcaoPagamento == 0" value="Pagamento com QRCode"
                                                readonly>

                                            <input type="text" class="form-control"
                                                *ngIf="pedidoCurrent.opcaoPagamento == 1" value="Pagamento com cartão"
                                                readonly>

                                            <input type="text" class="form-control"
                                                *ngIf="pedidoCurrent.opcaoPagamento == 2" value="Pagamento na retirada"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="valorTotal">Valor Total</label>
                                            <input type="text" class="form-control" id="valorTotal"
                                                [(ngModel)]="pedidoCurrent.valorTotal" name="valorTotal" readonly>
                                        </div>
                                    </form>

                                    <hr>

                                    <span *ngIf="pedidoCurrent?.alimentos!.length > 0">
                                        <p style="color: #000; font-size: 1.5em; font-weight: bold;"
                                            class="text-center">
                                            Alimentos: </p>

                                        <div class="table-responsive text-center">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Nome Alimento</th>
                                                        <th scope="col">Quantidade Alimento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of pedidoCurrent?.alimentos; let i = index">
                                                        <th scope="row">{{i + 1}}</th>
                                                        <td>{{item.nomeAlimento}}</td>
                                                        <td>{{item.quantidadeAlimentoCarrinho}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </span>

                                    <span *ngIf="pedidoCurrent?.bebidas!.length > 0">
                                        <p style="color: #000; font-size: 1.5em; font-weight: bold;"
                                            class="text-center">
                                            Bebidas: </p>

                                        <div class="table-responsive text-center">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Nome Bebida</th>
                                                        <th scope="col">Quantidade Bebida</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of pedidoCurrent?.bebidas; let i = index">
                                                        <th scope="row">{{i + 1}}</th>
                                                        <td>{{item.nomeBebida}}</td>
                                                        <!-- <td>{{ item.valorAlimento | currency:'BRL' }}</td> -->
                                                        <td>{{item.quantidadeBebidaCarrinho}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </span>

                                    <hr>

                                    <p style="color: #c01d1d; font-size: 1.2em; font-weight: bold;" class="text-start">
                                        Valor total da compra: {{pedidoCurrent.valorTotal | currency:'BRL'}}</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"
                                    (click)="modal.dismiss('Cross click')">Fechar</button>
                            </div>
                        </ng-template>

                        <!-- Modal adicionar alimento -->
                        <ng-template #adidicionarAlimento let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Cadastrar novo alimento</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                </button>
                            </div>
                            <div class="modal-body ">
                                <p style="color: #000; font-size: 1.2em; font-weight: bold;" class="text-center"> Aqui
                                    você poderá cadastrar um novo alimento </p>

                                <div class="container">
                                    <!-- <form [formGroup]="adicionarAlimentoForm" class="cartao">
                                        <div class="form-group field my-2">
                                            <label for="nomeAlimento">Nome do alimento:</label>
                                            <input type="text" class="form-control" id="nomeAlimento"
                                                formControlName="nomeAlimento" placeholder="Nome do alimento">
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="valorAlimento">Valor do alimento:</label>
                                            <input type="number" class="form-control" id="valorAlimento"
                                                placeholder="12,00" formControlName="valorAlimento">
                                           
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="descricaoAlimento">Descrição do alimento:</label>
                                            <input type="text" class="form-control" id="descricaoAlimento"
                                                placeholder="Descrição do alimento" formControlName="descricaoAlimento">
                                      
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="qntEstoqueAlimento">Quantidade disponível:</label>
                                            <input type="number" class="form-control" id="qntEstoqueAlimento"
                                                placeholder="Quantidade disponível" formControlName="qntEstoqueAlimento">
                                
                                        </div>
                                    </form> -->
                                    <!-- seu-componente.component.html -->

                                    <form class="cartao">
                                        <div class="form-group field my-2">
                                            <label for="nomeAlimento">Nome do alimento:</label>
                                            <input type="text" class="form-control" id="nomeAlimento"
                                                [(ngModel)]="nomeAlimento" placeholder="Nome do alimento">
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="valorAlimento">Valor do alimento:</label>
                                            <input type="number" class="form-control" id="valorAlimento"
                                                [(ngModel)]="valorAlimento" placeholder="12,00">
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="descricaoAlimento">Descrição do alimento:</label>
                                            <input type="text" class="form-control" id="descricaoAlimento"
                                                [(ngModel)]="descricaoAlimento" placeholder="Descrição do alimento">
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="qntEstoqueAlimento">Quantidade disponível:</label>
                                            <input type="number" class="form-control" id="qntEstoqueAlimento"
                                                [(ngModel)]="qntEstoqueAlimento" placeholder="Quantidade disponível">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success"
                                    (click)="adicionarAlimento()">Concluir</button>
                                <button type="button" class="btn btn-danger"
                                    (click)="modal.dismiss('Cross click')">Fechar</button>
                            </div>
                        </ng-template>

                        <!-- Modal adicionar Bebida -->
                        <ng-template #adidicionarBebida let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Cadastrar nova bebida</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                </button>
                            </div>
                            <div class="modal-body ">
                                <p style="color: #000; font-size: 1.2em; font-weight: bold;" class="text-center"> Aqui
                                    você poderá cadastrar uma nova bebida</p>

                                <div class="container">
                                    <form [formGroup]="adicionarBebidaForm" class="cartao">
                                        <div class="form-group field my-2">
                                            <label for="nomeBebida">Nome da bebida:</label>
                                            <input type="text" class="form-control" id="nomeBebida"
                                                formControlName="nomeBebida" placeholder="Nome da bebida"
                                                [ngClass]="{ 'is-invalid': submittedBebida && formField['nomeBebida'].errors }">
                                            <div *ngIf="submittedBebida && formField['nomeBebida'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="formField['nomeBebida'].errors['required']">
                                                    Nome da bebida é obrigatório.</div>
                                            </div>
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="valorBebida">Valor da bebida:</label>
                                            <input type="number" class="form-control" id="valorBebida"
                                                placeholder="12,00" formControlName="valorBebida"
                                                [ngClass]="{ 'is-invalid': submittedBebida && formField['valorBebida'].errors }">
                                            <div *ngIf="submittedBebida && formField['valorBebida'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="formField['valorBebida'].errors['required']">
                                                    Valor da bebida é obrigatório.</div>
                                            </div>
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for="descricaoBebida">Descrição da bebida:</label>
                                            <input type="text" class="form-control" id="descricaoBebida"
                                                placeholder="Descrição da bebida" formControlName="descricaoBebida"
                                                [ngClass]="{ 'is-invalid': submittedBebida&& formField['descricaoBebida'].errors }">
                                            <div *ngIf="submittedBebida && formField['descricaoBebida'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="formField['descricaoBebida'].errors['required']">
                                                    Descrição é obrigatória.</div>
                                            </div>
                                        </div>
                                        <div class="form-group field my-2">
                                            <label for=" qntEstoqueBebida">Quantidade disponível:</label>
                                            <input type="number" class="form-control" id="qntEstoqueBebida"
                                                placeholder="Quantidade disponível" formControlName="qntEstoqueBebida"
                                                [ngClass]="{ 'is-invalid': submittedBebida && formField['qntEstoqueBebida'].errors }">
                                            <div *ngIf="submittedBebida && formField['qntEstoqueBebida'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="formField['qntEstoqueBebida'].errors['required']">
                                                    Quantidade é obrigatória.</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success"
                                    (click)="adicionarBebida()">Concluir</button>
                                <button type="button" class="btn btn-danger"
                                    (click)="modal.dismiss('Cross click')">Fechar</button>
                            </div>
                        </ng-template>
                    </nav>
                    <div class="card-body">
                        <div [ngbNavOutlet]="nav" class="mt-1"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>